@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ddd;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  color-scheme: light dark;
}

:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}

@theme {
  --shadow-custom-light: 0px 0px 10px 2px rgb(0 0 0 / 5%);
}
